{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
    
    <!-- Menu -->
    <div class= "container justify-content-center">
        <ul class="m-3 shadow adminT p-3">
            <li class="h1">Administrar Tienda</li>
            <li class="fs-3"><a href="{% url 'Mantenedor_de_usuarios' %}">Mantenedor de Usuario</a></li>
            <li class="fs-3"><a href="/">Mantenedor de Horas Médicas</a></li>
            <li class="fs-3"><a href="/">Administrar clientes en espera</a></li>
            <li class="fs-3"><a href="/">Mantenedor de Pagos</a></li>
        </ul>
    </div>
    
{% endblock content %}

{% block script %}
{% endblock script %}


