{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
    <div>  </div>
    
    <!------------------------------------------------------------------------------------->
    <!-------------------------------------CARRUSEL---------------------------------------->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}    
                            
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src=" {% static 'core/images/carrusel-3.jpg' %} " class="d-block w-100" alt="..." style="width: 2267px; height: 600px;" >
                </div>
                <div class="carousel-item">
                    <img src="{% static 'core/images/carrusel-1.jpg' %}" class="d-block w-100" alt="..." style="width: 2267px; height: 600px;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'core/images/carrusel-2.jpg' %}" class="d-block w-100" alt="..." style="width: 2267px; height: 600px;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------->
    <!--------------------------------------Formulario------------------------------------------>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Columna para las noticias -->
            <div class="col" id="noticias">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="background-color: rgb(253, 253, 253);">
                            <h1 class="card-title" style="color: black; font-weight: bold; ">Noticias</h1>
                            <p class="card-text" style="font-weight: bold;">Cleveland Clinic elige al Centro medico Galenos para sellar acuerdo de colaboración</p>
                            <p class="card-text">Para brindar un mejor servicio a nuestros pacientes y sus familias, Galenos y Cleveland Clinic han concretado un acuerdo de colaboración que permitirá integrar las mejores prácticas del sector salud.</p>
                            <p class="card-text" style="font-weight: bold;">Centro medico Galenos se convierte en la primera red de salud certificada como Centro de Excelencia de Boston Scientific Corporation</p>
                            <p class="card-text">El Departamento de Urología acreditó su expertise en Rezum, técnica para tratar la Hiperplasia Prostática Benigna en una ceremonia realizada en el auditorio del centro medico Galenos Providencia.</p>
                            <p class="card-text" style="font-weight: bold;"> Centro medico Galenos destaca por rápida derivación intrared de pacientes con patologías coronarias</p>
                            <p class="card-text">A partir de junio de 2022, la Unidad de Emergencia del Centro medico Galenos, comenzó a realizar derivaciones intrared de pacientes con patología coronaria aguda, acción que ha permitido atender adecuadamente a 52 pacientes.</p>
                        </div>
                    </div>
                </div>

            </div>
    
            <!-- Columna para el formulario -->
            <div class="col-4" id="formulario">
                <div class="fondo">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 border border-3 p-4" style="background-color: rgb(34, 155, 156);">
                                <div class="container text-center p-4">
                                    <h1>Pide tu hora online!</h1>
                                </div>
                            
                                <form method="POST" id="form">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="d-grid gap-4 col-5 mx-auto p-2">
                                        <button class="btn btn-dark" type="submit">Solicitar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nueva columna para la imagen -->
            <div class="col-4" id="imagen">
                <div class="container-fluid">
                    <div class="">
                        <div class="">
                            <img src="{% static 'core/images/planes.png' %}" alt="Descripción de la imagen" class="img-fluid" style="height: 500px;" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <p style="color: rgb(255, 255, 255);">p</p>
                <p style="color: rgb(255, 255, 255);">p</p>
                <p style="color: rgb(255, 255, 255);">p</p>
                <p style="color: rgb(255, 255, 255);">p</p>

            </div>


        </div>
    </div>
    
    
{% endblock content %}
